<!--<h1>Listing articles<h1>-->
<%= image_tag "index1.jpeg" %><br>
<% if user_signed_in? %>
<% if current_user.role =='admin' %>
<%#= link_to 'Sign Up', new_user_registration_path %><br>
<%= link_to 'Users list', {:controller => :userlist, :action => :index} %>
<%end%>
<%end%>

<!---<h3S> Already have an account </h3>-->
<%#= link_to 'Log in', new_user_session_path %><br>
 <!---h1>Hello,Welcome</h1-->
 <%#= link_to 'My Blog', controller: 'articles' %>
 <br>
<%#= link_to 'New article', new_article_path %>
<%= link_to 'New article', new_user_session_path %>
<table>

  <tr>
    <th><font size="4">Title</th></font>
    <th><font size="4">Text</th></font>
    <th><font size="4">Photo</th></font>
  </tr>
 
  <% @articles.each do |article| %>

    <tr>
      <td><%= link_to article.title,article_path(article) %></td>
      <td><%= article.text %></td>
      
      <td><%= image_tag article.avatar.url(:thumb) %></td>
                
      <td><%= link_to 'Show', article_path(article) %></td>
         <% if user_signed_in? %>
         <td><% if (can? :update, article) or current_user.role =='admin' %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
       <%end%>
       <%end%>
      
    </tr>

  <% end %>

</table>



<br> 
<%#= link_to 'click here to go to an image page' , {:controller => :articles, :action => :image}%>
<%#= link_to 'click here to go to an image page',image_path %>

