<p>
  <!--strong>Title:</strong-->
  <strong><font size="4">Title:</font></strong>
  <%= @article.title %>
</p>
<p>
   <strong><font size="4">Text:</font></strong>
  <%= @article.text %>
</p>
<h2><font size="4"><u>Comments</u></font></h2>   
<%= render @article.comments%>
<h2> Add commment:</h2>
<%= render 'comments/form' %>
<%= link_to 'Edit', edit_article_path(@article) %>
<br>
<%= link_to 'Back', articles_path %>
