<!DOCTYPE html>
<html>
  <head>
  	<!---%= stylesheet_link_tag "style.css" %-->
    <title>Blog</title>
    <!---body style="background-color:powderblue;"-->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
             <%#= javascript_include_tag :defaults,"rails.validations" %>
  </head>

  <body>
    <% flash.each do |key,value| %>
    <p><font color="green"><%= value %></font></p>
    <% end %>
    <%= yield %>
  </body>
  <!---<p class="notice"><%= notice %></p>-->
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
  <li>
  <h4> Logged in As:</h4>
  <h4S><%=current_user.email %></h4> 
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  

  </li>
  <%end%>
  
<%#= link_to ('sign in with google', user_google_oauth2_omniauth_authorize(:google_oauth2) )%>
</html>
